.fondo-negro{
	padding: 30px;
	background-color:black;
}
a{
	text-decoration: none;
	color: white;
	margin: 5px;

}
.links-subdivision{
	color: grey;

}
span{
	color: red;
}
p{
	padding-top: 15px;
	padding-bottom: 15px;
	color: grey;
	line-height: 1.5;
}
#boton-article,.boton-float{/* caracteristicas de mi boton*/

	border-radius: 40px;
	background-color: #888;
	color:lightgrey;
	width: 100px;
	height: 50px,
	padding:15px;
	text-align: center;
}

.ciudad{
	width: 90%;
}
.cuadricula{
	height: 250px;
	width: 450px;
	
	}/* caracteristicas de imagenes cuadricula*/
h6,h4,h3, h5,h6{
	color:white;
	line-height: 1.5;
}
h4{font-size: 14px;}

.fuente-mini{font-size:10px;}

h1,h2{color:dimgrey;}

.fondo-footer{
	background-color: black;
}
.border-bottom{
	border-bottom: 1px solid lightgrey;
}
fuente-mini{
	font-size: 6px;
	color: grey;
}
.boton-footer{
	background-color: #F90059;
	color: white;
	width:2%;
	height: 20px;
	width: 40px;
	border-color: transparent;
	position: relative;
	margin: 5PX;
}
.fondo-logo{
	background-color:grey; 
}
